<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SrcChess2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <SrcChess2.Properties.Settings>
            <setting name="PlyCount" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="UseBook" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseTransTable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseThread" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="TransTableSize" serializeAs="String">
                <value>992</value>
            </setting>
            <setting name="UseAlphaBeta" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UsePlyCount" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AverageTime" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="RandomMode" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="WhiteBoardEval" serializeAs="String">
                <value>Basic</value>
            </setting>
            <setting name="BlackBoardEval" serializeAs="String">
                <value>Basic</value>
            </setting>
            <setting name="MoveNotation" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="FlashPiece" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WhitePieceColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="BlackPieceColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="LiteCellColor" serializeAs="String">
                <value>Moccasin</value>
            </setting>
            <setting name="DarkCellColor" serializeAs="String">
                <value>SaddleBrown</value>
            </setting>
            <setting name="UsePlyCountIterative" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PieceSet" serializeAs="String">
                <value>leipzig</value>
            </setting>
            <setting name="BackgroundColor" serializeAs="String">
                <value>SkyBlue</value>
            </setting>
            <setting name="BookType" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="DifficultyLevel" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="FICSHostName" serializeAs="String">
                <value>freechess.org</value>
            </setting>
            <setting name="FICSHostPort" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="FICSUserName" serializeAs="String">
                <value>Guest</value>
            </setting>
            <setting name="WndTop" serializeAs="String">
                <value>NaN</value>
            </setting>
            <setting name="WndLeft" serializeAs="String">
                <value>NaN</value>
            </setting>
            <setting name="WndWidth" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="WndHeight" serializeAs="String">
                <value>700</value>
            </setting>
            <setting name="WndState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="FICSSPlayerName" serializeAs="String">
                <value />
            </setting>
            <setting name="FICSSBlitz" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FICSSLightning" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FICSSUntimed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FICSSStandard" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FICSSRated" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FICSSMinRating" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="FICSSMinTimePerPlayer" serializeAs="String">
                <value />
            </setting>
            <setting name="FICSSMaxTimePerPlayer" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="FICSSMinIncTimePerMove" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FICSSMaxIncTimePerMove" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="FICSSMaxMoveDone" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="FICSMoveTimeOut" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="PuzzleDoneLow" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PuzzleDoneHigh" serializeAs="String">
                <value>0</value>
            </setting>
        </SrcChess2.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
